/* General ------------------------------ */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inherit;
}

:root {
    --primary-color: #604c84; /* Primary color */
    --secondary-color: #ffd23c; /* Secondary color */
    --accent-color: #383434; /* Accent color */
    --background-color: #604c84; /* Background color */
    --text-color: #ffd23c; /* Text color */
  }

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* Borders for debugging */
.main-header,
.main-container {
    border: 2px solid red;
}

.hero-section {
    border: 4px solid #34d399;
}

section,
.main-header_navigation-links,
.main-header_social_links,
.main-header_logo {
    border: 2px solid blue;
}


/* Main Header ------------------- */
.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    z-index: 1000;
    backdrop-filter: blur(5px);
    background-color: rgba(96, 76, 132, 0.5);
    box-sizing: border-box;
}
.main-header_logo {
    display: flex;
    align-items: center;
}

.main-header_logo a {
    color: var(--text-color);
}

.main-header_logo:hover a{
    color: var(--accent-color);
}

.main-header_navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-header_navigation-links {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.main-header_navigation-link {
    padding: 1.3rem 2rem;
    font-size: 1.6rem;
    font-weight: 400;
}

.main-header_navigation-link a {
    color: var(--text-color);
}

.main-header_navigation-link:hover a{
    color: var(--accent-color);
}

.main-header_social_links {
    display: flex;
    align-items: center;
}

.social-logo{
    width: 30px;
    height: 30px;
    transition: transform 0.3s ease;
    fill: var(--text-color);
}

.social-logo:hover {
    transform: translateY(-5px);
}

.social-logo:hover{
    fill: var(--accent-color);
}

/* Hero-Section ---------------------- */
.hero-section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    background: var(--background-color);
}


.hero-content {
    color: var(--text-color);
    text-align: center;
}


/* About me ----------------------- */
.about-section {
    background-color: var(--background-color);
    padding: 10% 5%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.about-content {
    display: grid;
    grid-template-columns: minmax(200px, 1fr) 1fr;
    gap: 10%;
    align-items: start;
}

.portrait-img {
    max-width: 100%;
    height: auto;
    display: block;
}

.information {
    font-size: 1rem;
    color: var(--text-color);
}

.information-title {
    font-size: 2rem;
    margin-bottom: 5%;
    margin-top: 10%;
}