/* General ------------------------------ */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inherit;
}

:root {
    --primary-color: #ffd23c; /* Primary color */
    --secondary-color: #383434; /* Secondary color */
    --accent-color: #4184fa; /* Accent color */
    --background-color: #604c84; /* Background color */
    --text-color: #ffd23c; /* Text color */
    --white: #f0f0f0;
  }

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.main-container {
    margin: 0;
    max-width: 100%;
    width: 100%;
}

/* Borders for debugging */
.main-header,
.main-container {
    border: 2px solid red;
}

.hero-section {
    border: 4px solid #34d399;
}

section,
.main-header_navigation-links,
.main-header_social_links,
.main-header_logo {
    border: 2px solid blue;
}


/* Main Header ------------------- */
.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    z-index: 1000;
    backdrop-filter: blur(5px);
    background-color: rgba(96, 76, 132, 0.3);
    box-sizing: border-box;
}
.main-header_logo {
    display: flex;
    align-items: center;
}

.main-header_logo a {
    color: var(--text-color);
}

.main-header_logo:hover a{
    color: var(--accent-color);
}

.main-header_navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-header_navigation-links {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.main-header_navigation-link {
    padding: 1.3rem 2rem;
    font-size: 1.6rem;
    font-weight: 400;
}

.main-header_navigation-link a {
    color: var(--text-color);
}

.main-header_navigation-link:hover a{
    color: var(--accent-color);
}

.main-header_social_links {
    display: flex;
    align-items: center;
}

.social-logo{
    width: 30px;
    height: 30px;
    transition: transform 0.3s ease;
    fill: var(--text-color);
}

.social-logo:hover {
    transform: translateY(-5px);
}

.social-logo:hover{
    fill: var(--accent-color);
}

/* Hero-Section ---------------------- */
.hero-section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    background: var(--background-color);
}


.hero-content {
    color: var(--text-color);
    text-align: center;
}


/* About me section ----------------------- */
.about-section {
    background-color: var(--background-color);
    padding: 10% 5%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}


.about-content {
    display: grid;
    grid-template-columns: minmax(200px, 1fr) 1fr;
    gap: 10%;
    align-items: start;
}

.portrait-img {
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 15px;
}

.information {
    font-size: 1rem;
    color: var(--text-color);
}

.information-title {
    font-size: 2rem;
    margin-bottom: 5%;
    margin-top: 10%;
}

/* Skills section ------------------------------- */
.skills-section {
    background-color: var(--background-color);
    padding-top: 5%;
    padding-bottom: 5%;
}

.skills-section-container {
    margin-left: 10%;
    margin-right: 10%;
    background-color: var(--secondary-color);
    border-radius: 15px;
    padding: 2%;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.skills-title {
    color: var(--text-color);
    padding: 2rem 1rem;
    margin-bottom: 1rem;
    border-radius: 15px;
    display: flex;
    justify-content: center;
}

.skills-conteiner {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: .5rem;
    width: 100%;
}

.skills-content {
    align-items: center;
    background: var(--background-color);
    border-radius: 10px;
    display: flex;
    flex: 0 1 18%;
    padding: 2rem 1rem;
    height: 60px;
    justify-content: space-evenly;
    margin: 1%;
}

.skills-icon {
    color: var(--primary-color);
    font-size: 50px;
}

.skills-name {
    color: var(--text-color);
    font-size: 1rem;
}

/* Project section */
.project-section {
    background-color: white;
    padding-top: 5%;
    padding-bottom: 5%;
}

.project-section-container {
    margin: 0 10%;
    background-color: var(--secondary-color);
    border-radius: 15px;
    padding: 2%;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.project-title {
    color: var(--text-color);
}

/* Project contet base normal */
.project-content {
    background-color: red;
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 6rem 0;
    width: 100%;
}

.project-image {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 60%;
}

.project-image img {
    border-radius: 15px;
}

.project-detail {
    align-items: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    width: 40%;
}

.project-detail h3 {
    color: var(--text-color);
    margin-bottom: 3rem;
}

.project-detail p {
    color: var(--white);
}

/* Project content base reverse */
.project-content-reverse {
    background-color: red;
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 6rem 0;
    width: 100%;
}

.project-image-reverse {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 60%;
}

.project-detail-reverse {
    align-items: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    width: 40%;
}