/* General ------------------------------ */
/* Reset styles */
html, body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.container {
    margin: 0 calc(5% - 20px);
    text-align: center;
}

nav,
section,
footer,
.hero-section {
  border: red 2px solid;
}

section,
footer,
.hero-section {
    margin: 20px 0 20px 0;
}

/* Navbar ------------------------------- */
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; /* Ensure the navbar spans the entire width of the viewport */
    z-index: 1000;
    height: 80px;
    line-height: 80px;
    text-align: right;
    background-color: aqua;
    padding-right: 20px; /* Add padding to the right to create space between links and right edge */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-right: 20px;
    display: inline;
}

nav ul li a {
    text-decoration: none;
    padding: 10px;
}

.github-logo {
    display: inline-block;
    vertical-align: middle;
}

nav a:hover {
    color: orange;
}
/* Sticky Navbar ----------------------------- */
nav.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

/* Hero section ------------------------------ */
.hero-section {
    margin-top: 80px;
    height: 100vh;
    background-color: #ddd;
}

.hero-text {
    font-size: 60px;
    min-height: 100vh;
    line-height: 100vh;
}

/* Footer ------------------------------------- */
footer {
    text-align: center;
    padding: 10px;
    background-origin: #ddd;
    margin-top: 20px
}